.custom-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: var(--color-white);
    border: none;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdown-content label {
    display: block;
    padding: 5px 0;
  }

  .selected-filters {
    margin-top: 10px;
    font-size: 14px;
  }
  input[type='checkbox']{
    color: var(--color-white);
  }
  
  .selected-filters ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    accent-color: var(--color-primary-blue);
  }  
  .filter{
    color: var(--color-very-dark);
  }
  .custom-dropdown button {
    background: transparent;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow-down {
    margin-left: 8px;
    font-size: 12px;
  }
  