.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 5rem;
  margin-left: 25rem;
  width: 730px;
  /* border: 1px solid var(--color-primary-blue); */
 
}
.selected_invoice{
  margin-left: 5rem;
}
.selected_invoice_header{
  width: 730px;
  height: 88px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px 4px #48549F1A;
  /* border: 2px solid #48549F1A; */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
  padding: 2rem;
}

.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.text-style{
  color: var(--color-very-dark);
  
}
a{
  text-decoration: none;
  color: none;
}
.delete-card{
  position: fixed;
  inset: 0;
  width: 100%;
  left: 6.5rem;
  background-color: #00000090;
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected_invoice_container{
    width: 730px;
    /* height: 70vh; */
    background-color: var(--color-white);
    margin-top: 2rem;
    box-shadow: 0px 0px 4px 4px #48549F1A;
    border-radius: 8px;
   
}
.container-content{
   display: flex;
    justify-content: space-between;
}


.selected_invoice_header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btns{
  display: flex;
  gap: 1rem;
}

.edit{
  background-color: var(--color-almost-white);
  color: var(--color-muted-blue);
  border: none;
  border-radius: 50px;
  width: 73px;
  height: 48px;
  font-size: 12px;
}

.delete{
  background-color: var(--color-primary-red);
  color: var(--color-white);
  border: none;
  border-radius: 50px;
  width: 89px;
  height: 48px;
  font-size: 12px;
}

.mark{
  background-color: var(--color-primary-blue);
  color: var(--color-white);
  border: none;
  border-radius: 50px;
  width: 131px;
  height: 48px;
  font-size: 12px;
}

.text-style{
  color: var(--color-muted-blue);
}

.selected_invoice_container{
  padding: 2rem;
}

span{
  color: var(--color-muted-blue);
}
.description{
  color: var(--color-muted-blue);
  /* margin-top: 1rem; */
}
.leftSide-container{
  display: flex;
  flex-direction: column;
}
section {
  background-color: var(--color-white);
  border-radius: 0.8rem;
  padding: 2.4rem 3.2rem;
  box-shadow: 0px 10px 10px -10px var(--box-shadow-color);
}
.invoice {
  margin-block: 3.2rem 2rem;
}
.id{
  color: var(--color-very-dark);
}
.invoice-summary {
  box-shadow: none;
}
.invoice-summary__label{
  color: var(--color-muted-blue);
}
.invoice-summary__content {
  display: flex;
  flex-wrap: wrap;
  gap: 7rem;
}
.invoice-summary__value {
  margin-block: 0.3rem;
}
.invoice-summary__item{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.invoice-table {
  background-color: var(--color-light-gray);
  color: var(--color-very-dark);
  display: grid;
  margin: 2.4rem 3.2rem;
  padding: 0;
  gap: 1rem;
}

.invoice-table-content {
  padding: 2rem;
}

.invoice-table__header,
.invoice-table__item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding: 1rem;
  }

.invoice-table__item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.invoice-table__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem;
  align-items: center;
  background-color: var(--color-steel-gray);
  color: var(--color-white);
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
.invoice-table__amount-label span {
  color: #fff;
}

.invoice-table__amount {
  justify-self: end;
  color: var(--color-very-dark);
}

.invoice-table__item-2-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form{
  position: fixed;
  inset: 0;
  width: 100%;
  left: 6.5rem;
  background-color: #00000090;
  backdrop-filter: blur(4px);
  overflow-y: auto;
}
.form-container{
  background-color: var(--color-almost-white);
  width: 100%;
}

.invoice__actions-mod {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-white);
  position: fixed;
  padding: 2rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .invoice__actions {
    display: inline-flex;
  }

  .invoices {
    margin-bottom: auto;
  }

  .invoice-details__content {
    display: flex;
    justify-content: space-between;
  }

  .invoice-details__address--line1,
  .invoice-details__address--line2 {
    text-align: right;
  }

  .invoice-details__address {
    margin-top: 0;
  }

  .go-back {
    margin-block: 2rem;
  }

  .invoice-summary__content {
    display: flex;
    flex-wrap: nowrap;
    gap: 10rem;
  }

  .invoice-summary__item {
    margin-top: 2rem;
  }
  .invoice-table__header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }

  .invoice-table__item-2 {
    display: none;
  }
  .invoice-table__item {
    display: grid;
  }
  .invoice__container-mod {
    display: none;
  }
}
