.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 5rem;
  margin-left: 25rem;
  width: 730px;
  /* border: 1px solid var(--color-primary-blue); */
 
}
.selected_invoice_header{
  width: 730px;
  height: 88px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 4px 4px #48549F1A;
  /* border: 2px solid #48549F1A; */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
  padding: 2rem;
}

.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.text-style{
  color: var(--color-very-dark);
  
}
a{
  text-decoration: none;
  color: none;
}
.selected_invoice_container{
    width: 730px;
    height: 65vh;
    background-color: var(--color-white);
    margin-top: 2rem;
    box-shadow: 0px 0px 4px 4px #48549F1A;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.selected_invoice_header_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btns{
  display: flex;
  gap: 1rem;
}

.edit{
  background-color: var(--color-almost-white);
  color: var(--color-muted-blue);
  border: none;
  border-radius: 50px;
  width: 73px;
  height: 48px;
  font-size: 12px;
}

.delete{
  background-color: var(--color-primary-red);
  color: var(--color-white);
  border: none;
  border-radius: 50px;
  width: 89px;
  height: 48px;
  font-size: 12px;
}

.mark{
  background-color: var(--color-primary-blue);
  color: var(--color-white);
  border: none;
  border-radius: 50px;
  width: 131px;
  height: 48px;
  font-size: 12px;
}

.text-style{
  color: var(--color-muted-blue);
}

.selected_invoice_container{
  padding: 2rem;
}

span{
  color: var(--color-muted-blue);
}
.description{
  color: var(--color-muted-blue);
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
}
.leftSide-container{
  display: flex;
  flex-direction: column;
}
