<div class="header-content">
        <div class="invoice-header">
             <app-headline type ="H1">Invoice</app-headline>
             <app-text type="Body1">There are {{filteredInvoices().length}} invoices</app-text>
        </div>
        <div class="sub-header">
               <app-filter></app-filter>
                <button class="search-btn" (click)="toggleFormVisibility()"><img src="../../../assets/images/plus-btn.png">New</button>
            <button class="invoice-btn" (click)="toggleFormVisibility()">
                <img src="../../assets/images/plus-btn.png">
                New Invoice
            </button>
        </div>
</div>

