
 
 /* Switcher Styles */
 .switcher {
   width: 20px;
   height: 20px;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .theme-icon {
   width: 100%;
   height: auto;
 }
 