<div class="login-container">
  <div class="sub-container">
  <div class="login-form">
    <img src="../../assets/images/Frame 38.svg" alt="URLite Logo" class="logo" />
    <h1>Welcome Back!</h1>
    <p>Login to Your Account</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <input type="email" placeholder="Email" formControlName="email" [ngClass]="{ 'error-border': loginForm.get('email')?.invalid && loginForm.get('email')?.touched }" />
        <div>
          <span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
            Email is required.
          </span>
        </div>
      </div>
      <div class="input-group">
        <input type="password" placeholder="Password" formControlName="password" [ngClass]="{ 'error-border': loginForm.get('password')?.invalid && loginForm.get('password')?.touched }" />
        <div>
          <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
            Password is required.
          </span>
        </div>
      </div>
      <button type="submit" class="login-button" [disabled]="loginForm.invalid">Login</button>
    </form>
    <a href="/forgot-password" class="forgot-password">Forgot password?</a>
    <div class="social-login">
      <p>Or sign in with:</p>
      <div class="social-icons">
        <img src="../../assets/images/flat-color-icons_google.svg" alt="Google" />
        <img src="../../assets/images/vscode-icons_file-type-outlook.svg" alt="Outlook" />
        <img src="../../assets/images/cib_apple.svg " alt="Apple" />
      </div>
    </div>
  </div>
  <div class="login-illustration">
    <img src="../../assets/images/Free Vector _ Fingerprint concept illustration.jpg" alt="Login Illustration" />
  </div>
  </div>
</div>

