<form action="#" >
  <div  class="main-title">
    <app-headline type="H1">New Invoice</app-headline>
  </div>

  <!-- Bill From -->
<div class="form__section">
      <app-headline class="form__section-title">Bill From</app-headline>
      <div class="form__group">
        <label for="fromStreet" class="form__label">Street Address</label>
        <app-text-field
          class="form__input"
          [fieldProps]="{
            id: 'fromStreet',
            name: 'senderStreet',
            type: 'text',
            class: 'form__input',

          }"
          controlName="senderStreet"
        />
      </div>

      <div class="form__group form__group--inline">
        <div class="form__input-wrapper">
          <label for="fromCity" class="form__label">City</label>
          <app-text-field
            class="form__input"
            [fieldProps]="{
              id: 'fromCity',
              name: 'senderCity',
              type: 'text',
              class: 'form__input',
            }"
            controlName="senderCity"
          />
        </div>

        <div class="form__input-wrapper">
          <label for="fromPostCode" class="form__label">Post Code</label>
          <app-text-field
            class="form__input"
            [fieldProps]="{
              id: 'fromPostCode',
              name: 'senderPostCode',
              type: 'text',
              class: 'form__input',
            }"
            controlName="senderPostCode"
          />
        </div>

        <div class="form__input-wrapper">
          <label for="fromCountry" class="form__label">Country</label>
          <app-text-field
            class="form__input"
            [fieldProps]="{
              id: 'fromCountry',
              name: 'senderCountry',
              type: 'text',
              class: 'form__input'
            }"
            controlName="senderCountry"
          />
        </div>
      </div>
    </div>
  <div class="Bill">
    <app-headline type="H4" class="bills">Bill To</app-headline>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Client's Name</app-text>
      <input type="text" class="form-input" formControlName="name" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Client's Email</app-text>
      <input type="text" class="form-input" formControlName="email" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Street Address</app-text>
      <input type="text" class="form-input" formControlName="address" />
    </div>
    <div class="forms">
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">City</app-text>
      <input type="text" class="mini-input" formControlName="city" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Post Code</app-text>
      <input type="text" class="mini-input" formControlName="postCode" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Country</app-text>
      <input type="text" class="mini-input" formControlName="country" />
    </div>
   </div>
   <div class="Bill">
   <div class="option">
     <div class="Bill__group">
      <app-text type="Body1" class="form-text">Invoice Date</app-text>
      <app-date-picker class="date-picker"></app-date-picker>
     </div>
     <div class="Bill__group">
      <app-text type="Body1" class="form-text">Payment Terms</app-text>
      <select name="" id=""  class="sub-input" formControlName="terms">
        <option value="" *ngFor="let item of items">{{item.title}}</option>
      </select>
     </div>
   </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Project Description</app-text>
      <input type="text" class="form-input" formControlName="description" />
    </div>
   </div>
   <div class="Bill">
    <app-headline type="H1" class="bill-text">Item List</app-headline>
   <div class="forms">
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Item Name</app-text>
      <input type="text" class="item-form1"/>
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Qty.</app-text>
      <input type="text" class="item-form2" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Price</app-text>
      <input type="text" class="item-form3" />
    </div>
    <div class="Bill__group">
        <app-text type="Body1" class="form-text">Total</app-text>
        <input type="text" class="item-form4" placeholder="156.00"/>
   </div>
   <img src="../../assets/images/delete-icon.svg" alt="delete-icon">
   </div>
   <button class="add-item">
    <app-text type="Body1"></app-text>
    + Add New Item
  </button>
  </div>
<!-- </form> -->
