<form action="#">
  <div  class="main-title">
    <app-headline type="H1">New Invoice</app-headline>
  </div>
  <div class="Bill">
   <app-headline type="H4" class="bills">Bill From</app-headline>
    <div class="Bill__group">
     <app-text type="Body1" class="form-text">Street Address</app-text>
     <input type="text" class="form-input" formControlName="address" />
   </div>
   <div class="forms">
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">City</app-text>
      <input type="text" class="mini-input" formControlName="city" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Post Code</app-text>
      <input type="text" class="mini-input" formControlName="postCode" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Country</app-text>
      <input type="text" class="mini-input" formControlName="country" />
    </div>
   </div>
  </div>
  <div class="Bill">
    <app-headline type="H4" class="bills">Bill To</app-headline>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Client's Name</app-text>
      <input type="text" class="form-input" formControlName="name" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Client's Email</app-text>
      <input type="text" class="form-input" formControlName="email" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Street Address</app-text>
      <input type="text" class="form-input" formControlName="address" />
    </div>
    <div class="forms">
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">City</app-text>
      <input type="text" class="mini-input" formControlName="city" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Post Code</app-text>
      <input type="text" class="mini-input" formControlName="postCode" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Country</app-text>
      <input type="text" class="mini-input" formControlName="country" />
    </div>
   </div>
   <div class="Bill">
   <div class="option">
     <div class="Bill__group">
      <app-text type="Body1" class="form-text">Invoice Date</app-text>
      <input type="date" class="sub-input" formControlName="date" />
    </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Payment Terms</app-text>
      <select name="" id=""  class="sub-input" formControlName="terms">
        <option value="" *ngFor="let item of items">{{item.title}}</option>
      </select>
    </div>
   </div>
    <div class="Bill__group">
      <app-text type="Body1" class="form-text">Project Description</app-text>
      <input type="text" class="form-input" formControlName="description" />
    </div>
   </div>
   <div class="Bill">
    <app-headline type="H1" class="bill-text">Item List</app-headline>
    <div class="item-list" >
      <div class="item-list__group">
        <app-text type="Body1" class="form-text">Item Name</app-text>
        <input type="text" class="form-input"  />
      </div>
      <div class="item-list__group">
        <app-text type="Body1" class="form-text">Qty.</app-text>
        <input type="text" class="mini-input"  />
    </div>
  </div>
  
 
<!-- </form> -->
