<div class="custom-dropdown">
    <button (click)="toggleDropdown()">
        <app-headline type="H4">Filter by status</app-headline>
      <span class="arrow-down">
        <img src="../../assets/images/Path 2.svg" alt="">
      </span>
    </button>
    <div class="dropdown-content" *ngIf="dropdownOpen">
      <div *ngFor="let filter of filters">
        <label>
          <input type="checkbox" [(ngModel)]="filter.selected" />
          {{ filter.title }}
        </label>
      </div>
    </div>
  </div>
