.footer{
    width: 50%;
    height: 110px;
    color: var(--color-very-dark);
    background-color: var(--color-white);
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.btn-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid var(--color-muted-blue); */
}
.btn-content button{
    width: 150px;
    height: 48px;
    border: none;
    border-radius: 50px;
}
.discard{
    background-color: var(--color-almost-white);
    color: var(--color-muted-blue);
}
.draft{
    background-color: var(--color-steel-gray);
    color: var(--color-muted-blue);
}
.btn-group{
    width: 269px;
    display: flex; 
    gap: 1rem;
}
.send{
    background-color: var(--color-primary-blue);
    color: #fff;
}
@media screen and (max-width: 768px) {
    .footer{
        width: 100%;
    }
    
}
@media screen and (max-width: 996px) {
    .footer{
        width: 80%;
    }
}