
.sidebar {
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 103px;    
    height: 100vh;   
    background-color: #373B53; 
    border-radius: 0; 
    display: flex;    
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    border-radius: 0 1.5rem 1.5rem 0; 
    padding: 1rem; 
    z-index: 1000; 
    transition: all 0.3s ease; 
 }
 .sidebar-inner {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
    padding: 1rem; 
 }
 
 .logo {
    background: url('../../assets/images/logo.svg') center center / cover no-repeat;
    width: 100px;
    height: 100px;
 }
 
 .sidebar-items {
    background: url('../../assets/images/Oval.png') center center / cover no-repeat;
    width: 40px;
    height: 40px;
 }
 

 @media (max-width: 768px) {
    .sidebar {
       position: fixed; 
       top: 0;          
       left: 0;         
       width: 100%;    
       height: 72px;
       background-color: #373B53;   
       flex-direction: row; 
       align-items: center; 
       justify-content: space-between; 
       border-radius: 0 0 1.5rem 1.5rem; 
       padding: 0 1rem; 
    }
 
 }

 @media (max-width: 500px) {
    .sidebar {
       position: fixed; 
       top: 0;          
       left: 0;         
       width: 100%;    
       height: 72px;
       background-color: #373B53;   
       flex-direction: row; 
       align-items: center; 
       justify-content: space-between; 
       border-radius: 0 0 2rem 2rem; 
       padding: 0 1rem; 
    }
 
}
 