.invoice-card{
    width: 730px;
    height: 72px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 4px #48549F1A;
    /* border: 2px solid #48549F1A; */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    cursor: pointer;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 5rem; */
}
.id{
    font-size: 14px;
    font-weight: 700;
}
.id span{
  color: var(--color-soft-blue);
}
.due{
  color: var(--color-muted-blue);
}
.name{
  color: var(--color-muted-blue);
}
.amount{
  font-size: 16px;
  font-weight: 700;
}
.status-container{
 width: 104px;
 height: 40px;
 border: 1px solid #071fd6;
 display: flex;
 justify-content: center;
  align-items: center;

}
/* Base styling for the status-circle */
.status-circle {
  width: 10px; /* Adjust size as needed */
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1rem;
}

/* Styling for the status-circle when paid */
.status-circle--paid {
  background-color: #33D69F;
  color: green;
}

/* Styling for the status-circle when pending */
.status-circle--pending {
  background-color: #FF9797;
  color: #EC5757;
}

/* Styling for the status-circle when draft */
.status-circle--draft {
  background-color: #DFE3FA;
  color: #373B53;
}

/* Status text styling */
/* .status {
  font-weight: bold;
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
} */

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
} 
.light-mode .invoice-card{
    background-color: white;
    color: black;
  }
  
.dark-mode .invoice-card {
    background-color: #252945;
    color: white;
  }