<div class="header">
  <app-header></app-header>
  <ng-container *ngIf="data().length > 0; else emptyState">
    <div class="invoice-card" *ngFor="let dataList of data()">
      <a [routerLink]="dataList.id" >
        <div class="card-content" >
        <p class="id"><span>#</span>{{ dataList.id }}</p>
        <p class="due">{{ dataList.paymentDue }}</p>
        <p class="name">{{ dataList.clientName }}</p>
        <p class="amount">£{{ dataList.total }}</p>
        <app-badge [status]="dataList.status">{{ dataList.status }}</app-badge>
          <img src="../../assets/images/arrow-right.svg" alt="arrow-right">
      </div> 
      </a>
    </div>
  </ng-container>
</div>




<ng-template #emptyState>
  <div class="empty-state">
    <img class="empty-state-image"
      src="../../assets/images/Email campaign_Flatline.svg"
      alt="Empty state illustration"
    />
    <app-headline type="H2" >There is nothing here</app-headline>
    <app-text type="Body1" class="text">create an invoice by clicking the <br><span>New Invoice</span> button and get started</app-text>
  </div>
</ng-template>
 <div class="form" *ngIf="isFormVisible">
        <div class="form-container" #formContainer>
          <app-forms></app-forms>
        </div>
        <app-footer></app-footer>
  </div>