
<div class="header">
  <app-header></app-header>
<div class="invoice-card" *ngFor="let dataList of data">
    <div class="card-content">
       <p class="id"><span>#</span>{{dataList.id}}</p>
       <p class="due">{{dataList.paymentDue}}</p>
       <p class="name">{{dataList.clientName}}</p>
       <p class="amount">£{{dataList.total}}</p>
       <div class="status-container">
        <div class="status-circle"
        [ngClass]="{
          'status-circle--paid': dataList.status === 'paid',
          'status-circle--pending': dataList.status === 'pending',
          'status-circle--draft': dataList.status === 'draft'
        }"
      >
      <p class="status">{{ dataList.status }}</p>
      </div>
       </div>
</div>
</div>
  </div>