body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.confirm-dialog {
  background-color: var(--color-white);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
}

.confirm-dialog h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: var(--color-very-dark);
}

.confirm-dialog p {
  font-size: 1rem;
  color: var(--color-very-dark);
  margin-bottom: 20px;
  line-height: 1.5;
}

.confirm-dialog strong {
  color: var(--color-very-dark);
}

.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
}
/* .dialog-content{
  color: var(--color-very-dark);
} */
.cancel-button {
  background-color: var(--color-almost-white);
  color: var(--color-soft-blue);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cancel-button:hover {
  background-color: #e0e0e0;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.delete-button:hover {
  background-color: #d32f2f;
}
