/* Body 1 Style */
.text-Body1 {
    font-family: 'Spartan', sans-serif;
    font-weight: 500; /* Medium weight */
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
  }
  
  /* Body 2 Style */
  .text-Body2 {
    font-family: 'Spartan', sans-serif;
    font-weight: 500; /* Medium weight */
    font-size: 11px;
    line-height: 18px;
    letter-spacing: -0.23px;
  }
  