:root {
  --color-primary-blue: #7C5DFA;
  --color-secondary-blue: #9277FF;
  --color-primary-red: #EC5757;
  --color-secondary-red: #FF9797;
  --color-amber: #FF8F00;
  --color-mint-green: #33D69F;
  --color-dark-gray: #1E2139;
  --color-border-gray: #494E6E;
  --color-deep-gray: #252945;
  --color-light-gray: #DFE3FA;
  --color-muted-blue: #888EB0;
  --color-soft-blue: #7E88C3;
  --color-very-dark: #0C0E16;
  --color-steel-gray: #373B53;
  --color-almost-white: #F8F8FB;
  --color-midnight-gray: #141625;
  --color-white: #FFFFFF;
  --color-error: #EC5757;
  --color-error-light: #FF9797;
  --color-default: #ccc;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    background-color: #E5E5E5;
}

body {
    margin: 0;
    transition: background-color 0.3s ease, color 0.3s ease; 
  }
  
  body.light-mode {
    background-color: white;
    color: black;
  }
  
  body.dark-mode {
    background-color: #141625;
    color: white;
  }